<%= form_for :user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :language %><br>
    <%= f.select :language, [
	['English','english'],['Chinese','chinese'],['Spanish','spanish'],['Japanese','japanese'],['German','german']
	] %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>