<%= form_for :user, url: { action: 'create' } do |f| %>
<form class="form-horizontal" role="form">
  <div class="form-group">
	<div class="form-group">
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control', style: 'width: 30%;' %>
	</div>
  </div>
 
  <div class="form-group">
		<%= f.label :language %>
		<div class="input-group">
      	  <%= f.select :language, [['English','en'],['Chinese','cn'],['Spanish','es'],['Japanese','jp'],['German','de']] %>
  		</div>
  </div>
 
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
</form>
<% end %>
