<%= form_for :user do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :language %><br>
    <%= f.text_area :language %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>