<div class="container">

<%= form_for :user, url: {action: 'update', id: @user}, method: :patch do |f| %>
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <h1><%= f.label :name, @user.name %></h1>
 
    <div class="form-group">
  		<%= f.label :language %>
  		<div class="input-group">
        	  <%= f.select :language, [['English','en'],['Chinese','cn'],['Spanish','es'],['Japanese','jp'],['German','de']] %>
    	</div>
    </div>
 
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
 
<%= link_to 'Back', users_path, class: 'btn btn-default' %>

</div>