<div class="container">

		<h1>Welcome to the <em>TRANSLA<b>TRON</b></em></h1>
		<table class="table">
		    <tr>
		      <th>User ID: </th>
		      <th>Name: </th>
		      <th>Language</th>
		      <th>Selection</th>
		      <th></th>
		      <th></th>
		    </tr>
<% @users.each do |u| %>

<tr>
<td><%= u.id.to_s %></td>
<td><%= u.name %></td>
<td><%= u.language %></td>
<td><%= link_to 'Select this user?', {controller: 'users', action: 'show', id: u} %> </td>
<td><%= link_to 'Edit', {controller: 'users', action: 'edit', id: u} %> </td>
<td><%= link_to 'Destroy', {controller: 'users', action: 'destroy', id: u}, method: :delete %></td>
</tr>
<% end %>

</table>

<p><%= link_to 'Create a new user', new_users_path, class: 'btn btn-primary' %></p>

</div>